[submodule "cookbooks/rvm"]
	path = cookbooks/rvm
	url = git://github.com/fnichol/chef-rvm.git
[submodule "cookbooks/passenger"]
	path = cookbooks/passenger
	url = git://github.com/cookbooks/passenger.git
[submodule "cookbooks/mysql"]
	path = cookbooks/mysql
	url = git://github.com/cookbooks/mysql.git
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = git://github.com/cookbooks/openssl.git
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = git://github.com/cookbooks/apt.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = git://github.com/cookbooks/build-essential.git
